input {
  border-radius: 50px;
  background-color: #232122;
  border: 1px solid #868586ff;
  position: relative;
  top: 23px;
  margin-left: 25px;
  width: 407px;
  border-radius: 26px;
  padding: 9px 45px 9px 10px;
}
