.footer {
   height: 100%;
   border: 1px solid rgba(14, 14, 14);
   background-color: rgba(14, 14, 14);
}

.footer__item {
   display: flex;
   flex-direction: column;
}
.footer__item-link {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 18px;
   color: rgba(255, 255, 255, 0.7);
   text-decoration: none;
   margin-bottom: 10px;
}

.footer__copyRight {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: rgba(255, 255, 255, 0.7);
   padding: 0px 0px 50px 100px;
}
.footer__logo {
   width: 250px;
   height: 37.84px;
}

.footer__list {
   display: flex;
   justify-content: space-between;
   padding: 100px 100px 45px 100px;
   align-items: center;
}
@media (max-width: 1160px) {
   .footer__list {
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      padding: 40px 60px 45px 30px;
   }
   .footer__item {
      margin: 20px 0px 20px 0px;
   }
   .footer__copyRight {
      padding: 0px 0px 50px 30px;
   }
}
.footer__item-block {
   width: 225px;
}

.footer__item-box {
   display: flex;
}
.footer__item-tell {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 18px;
   line-height: 120%;
   color: rgba(247, 255, 255);
}
.footer__item-text {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 18px;
   line-height: 120%;
   color: rgba(247, 255, 255);
}
.footer__item-img {
   margin: 0 10px 0 0;
}
