.footer {
   height: 400px;
   border: 1px solid;
   background-color: #0e0e0e;
}


.footer__item-link {
   display: flex;
   flex-direction: column;
   font-weight: 500;
   font-size: 18px;
   color: rgba(255, 255, 255, 0.7);
   text-decoration: none;
   padding-top: 10px;
}

.footer__copyRight {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: rgba(255, 255, 255, 0.7);
   padding-left: 100px;
}
.logos {
   width: 250px;
   height: 37.84px;
}

.footer__list {
   display: flex;
   justify-content: space-between;
   padding: 110px 100px 45px 100px;
   align-items: center;
}

.footer__item-block {
   padding: 0px 50px;
   margin: 0px 20px;
   width: 225px;
}

.footer__item-box {
   display: flex;
}
.footer__item-tell {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 18px;
   line-height: 120%;
   color: #ffffff;

}
.footer__item-text {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 18px;
   line-height: 120%;
   color: #ffffff;
}
.footer__item-img {
   margin: 0px 10px 0px 0px;
}
@media(max-width:850px){
   .footer{
      max-width: 100%;
   }
   .logos {
      width: 125px;
   }
   .footer__item-link{
      font-weight: 250;
      font-size: 9px;
   }
   .footer__item-block{
      width: 112.5px;
   }
   .footer__item-tell{
   font-weight: 250;
   font-size: 9px;
   }
   .footer__item-text{
   font-weight: 250;
   font-size: 9px;
   }

}
@media(max-width:480px){
   .footer{
      height: 200px;
   }
   .footer__list{
      padding: 55px 50px 22.5px 50px;
   }

}