.artTree {
  max-width: 100%;
  background-color: #0e0e0eff;
  height: 1000px;
  position: relative;
}

.artTreeImg {
  background-image: url("../articleTree/img/brannor_rotors_front_3-800x800-PhotoRoom\ 2.png");
  background-repeat: no-repeat;
  width: 461.39px;
  height: 450px;
  bottom: 27%;
  left: 36%;
  position: absolute;
}

.top-left {
  background-image: url("../articleTree/img/left-top.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 215px;
  height: 200px;
  left: 380.72px;
  top: 383px;
  z-index: 1;
}

.bottom-left {
   background-image: url("../articleTree/img/left-bottom.png");
   background-repeat: no-repeat;
   position: absolute;
   width: 215px;
   height: 200px;
   left: 611.72px;
   top: 576px;
   z-index: 1;
}

.top-right {
   background-image: url("../articleTree/img/right-top.png");
   background-repeat: no-repeat;
   position: absolute;
   width: 215px;
   height: 200px;
   right: 426.72px;
   top: 378px;
   z-index: 1;
}

.bottom-right {
   background-image: url("../articleTree/img/right-bottom.png");
   background-repeat: no-repeat;
   position: absolute;
   width: 220px;
   height: 208px;
   right: 524.72px;
   top: 665px;
   z-index: 1;
}
