.selCont {
   background-color: rgba(14, 14, 14);
   padding: 50px;
}

.selContCenter {
   width: 1200px;
   margin: 0 auto;
   text-align: center;
}

.selContCenter button {
   height: 38px;
   width: 217px;
   left: 693px;
   top: 0px;
   border-radius: 34px;
   padding: 7px 32px 7px 32px;
   color: rgba(247, 255, 255);
   background-color: rgba(223, 42, 37);
   cursor: pointer;
   border-color: rgba(223, 42, 37);
}

.selectors {
   width: 181px;
   background-color: rgba(14, 14, 14);
   border: none;
   border-bottom: 1px solid rgba(104, 104, 104);
   color: rgba(247, 255, 255);
   margin: 0 10px;
   text-align: left;
   padding-bottom: 10px;
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 16px;
}
