.OneArt {
   background: #222222;
   padding:120px 0px;
}
@media(max-width:790px){
  .OneArt {
    padding-bottom: 0;
  }
}

.OneArt__container {
  max-width: 1400px;
  margin:0px auto;
  padding:0px 15px;
  display: flex;
}

@media(max-width:790px){
  .OneArt__container {
    flex-direction: column;
  }
}
@media(max-width:790px){
.OneArt__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
.OneArt__img{
  flex: 0 0 50%;

}

.OneArt__img img{
  height: 100%;
  width: 100%;
}
.OneArt__title {
   font-family: 'Gamestation';
   font-weight: 400;
   font-size:79px;
   line-height: 100%;
   text-align: left;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: white;
   margin:0px;
   margin-bottom: 50px;
}

@media(max-width:1600px){
  .OneArt__title{
    font-size: calc(29px + (79 - 29) * ((100vw - 320px) / (1600 - 320)));
  }
}
.OneArt__title span {
   color: #f52626ff;
}
.OneArt__descr {
   max-width: 518px;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 130.02%;
   text-align: justify;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.8);
   margin-bottom: 35px;
}

.OneArt__button {
   padding: 10px;
   border-radius: 15px;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: white;
   border: 1px solid #f52626;
   background-color: #f52626;
   cursor: pointer;
}
