.menuSerch {
   max-height: 125px;
   border: solid 1px rgba(14, 14, 14);
}

.selCont {
   background-color: rgba(14, 14, 14);
   padding:100px 0px;
}

.selContCenter {
   /* width: 1200px; */
   margin: 0 auto;
   text-align: center;
}
@media (max-width: 1200px) {
   .selContCenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }
}

.selContCenter button {
   height: 38px;
   width: 217px;
   left: 693px;
   top: 0px;
   border-radius: 34px;
   padding: 7px 32px 7px 32px;
   color: rgba(247, 255, 255);
   background-color: rgba(223, 42, 37);
   cursor: pointer;
   border-color: rgba(223, 42, 37);
}
@media (max-width: 1200px) {
   .selContCenter button {
      margin: 0px 0px 150px 0px;
   }
}

.selectors {
   width: 181px;
   background-color: rgba(14, 14, 14);
   border: none;
   border-bottom: 1px solid rgba(104, 104, 104);
   color: rgba(247, 255, 255);
   margin: 0 10px;
   text-align: left;
   padding-bottom: 10px;
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 16px;
}
@media (max-width: 1200px) {
   .selectors {
      width: calc(100% - 200px);
      margin: 0px auto;
      padding-bottom: 15px;
   }
}
@media (max-width: 470px) {
   .selectors {
      width: calc(100% - 100px);

   }
}
