.MenuSerch {
   max-height: 125px;
   border: solid 1px;
}

.selCont {
   background-color: #0e0e0eff;
   padding: 50px;
}

.selContCenter {
   width: 1200px;
   margin: 0 auto;
   text-align: center;
}
@media (max-width: 1200px) {
   .selContCenter {
      display: flex;
      flex-direction: column;
      text-align: center;
   }
}

.selContCenter button {
   height: 38px;
   width: 217px;
   left: 693px;
   top: 0px;
   border-radius: 34px;
   padding: 7px 32px 7px 32px;
   color: white;
   background-color: #df2a25ff;
   cursor: pointer;
   border-color: #df2a25ff;
}
@media(max-width:1200px){
  .selContCenter button{
    margin:0px 0px 150px 0px;
  }
}

.selectors {
   width: 181px;
   background-color: #0e0e0eff;
   border: none;
   border-bottom: 1px solid #686868ff;
   color: #ffffff;
   margin: 0 10px;
   text-align: left;
   padding-bottom: 10px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
}
@media (max-width: 1200px) {
   .selectors {
      width: 230px;
      padding-bottom: 40px;

   }
}
